package components

templ ChartContainer(id string, height string) {
	<div class="bg-gray-800 rounded-lg p-4 border border-gray-700">
		<canvas id={ id } style={ "height:" + height }></canvas>
	</div>
}
